extends layout

include mixins/_navigationCard
include mixins/_diyCard

block content
  +navigationCard(title)
  .container
    .row
      .col-lg-12.text-center
        h4.blink_me.text-red *Coming Soon...
  br
  .container
    .row
      each diy in h.diy
        .col-lg-4
          +diyCard(diy)
