extends layout

include mixins/_contactForm
include mixins/_locationCard
include mixins/_navigationCard

block content
  +navigationCard(title)
  .container-fluid
    .row
      +locationCard(location)
      +contactForm()
