extends layout

include mixins/_contactForm
include mixins/_locationCard
include mixins/_flashMessages
include mixins/_navigationCard

block content
  +flashMessages()
  +navigationCard(title)
  .container-fluid
    .row
      .col-lg-3.col-md-3
      +contactForm()
      .col-lg-3.col-md-3
