extends layout

include mixins/_navigationCard

block content
  +navigationCard(title)
  .container
    .row
      .col-lg-12
        .card
          .card-body
            .row
              .col-lg-12.text-center
                p.text-about.text-justify.text-center DisClaiemer
                br
    .row
      br
