extends layout

include mixins/_navigationCard

block content
  +navigationCard(title)
  .container
    .row
      .col-lg-12
        .card
          .card-body
            .row
              .col-lg-12
                ul(class="list-inline text-info termspolicydate")
                  li Last Updated: December 28, 2017
                br
                h4 DISCLAIMER
                br
                p.text-about.text-justify !{h.termsDisclaimer}
                br
    .row
      br
