extends layout

include mixins/_navigationCard
include mixins/_editPasswordForm
include mixins/_flashMessages

block content
  +flashMessages()
  +navigationCard(title)
  .col-md-12.text-center
    +editPasswordForm()
block footer
