extends layout

block content
  .container.text-center
      br
      .row
        .col-lg-12
          br
          br
          h1.errorStatus= status
          h3.errorMessage= message
          pre.error!= stackHighlighted

