extends layout

include mixins/_serviceCard
include mixins/_indexForm

block content
  .jumbotron
    .container.text-center
      .row
        .col-lg-12
          h3 Need legal help but don’t know who to ask?
          h5.d-none.d-md-block Find, consult and hire the best Lawyers in Nigeria
          +indexForm()
          h5 Need immediate Legal help?
          h6 Click&nbsp;
            a(href="/call-request").a-index Here
            span  or call +2348000000000
  .container.text-center
    .row
      .col-lg-12
        h5 Find Lawyers by Legal Areas
        br
    .row
      each item in h.tags
        .col-lg-4
          a(href=`/tags/${item}`).btn.btn-warning.btn-block.btn-tag= item
    br
    br
    br








