extends layout

include mixins/_serviceCard
include mixins/_indexForm

block content
  .jumbotron
    .container.text-center
      br
      .row
        .col-lg-12
          h1 Need legal help but don’t know who to ask?
          h3.d-none.d-md-block Find, consult and hire the best Lawyers in Nigeria
          br
          +indexForm()
          br
          h4 Need immediate Legal help?
          h5 Click&nbsp;
            a(href="/call-request").a-index Here
            span  or call +2348000000000
  .container.text-center
    .row
      .col-lg-12
        br
        h2 Find Lawyers by Legal Areas
        br
    .row
      each item in h.tags
        .col-lg-4
          a(href=`/tags/${item}`).btn.btn-warning.btn-block.btn-lg.btn-tag= item
    br
    br
    br








