extends layout

include mixins/_navigationCard
include mixins/_lawyerForm
include mixins/_flashMessages

block content
  +flashMessages()
  +navigationCard(title)
  .container.text-center
    .row
      .col-lg-12.col-md-12.col-sm-12
          +lawyerForm()
block footer
