extends layout

include mixins/_navigationCard
include mixins/_lawyerCard
include mixins/_tagsPagination
include mixins/_tagNav

block content
  +navigationCard(title)
  .container-fluid
    .row
      .col-lg-9
        ul.list-inline
          each t in tags
            +tagNav(t)
    .row
      .col-lg-9
        if lawyers.length >= 1
          each lawyer in lawyers
            +lawyerCard(lawyer)
        else
          .alert.alert-danger.text-center There is currently no Lawyer for this search.
      .col-lg-3
    br
    br
block footer
