mixin diyCard(diy = {})
  h4
    i(class=`fa fa-${diy.icon} text-${diy.color}`) &nbsp;&nbsp;
    span #{diy.title}
    hr
  ul.list-unstyled.diyList
    each document in diy.documents
      li
        i.fa.fa-file-text-o &nbsp;&nbsp;
        span
          a(href="#") #{document}
  br
  br