mixin editPasswordForm()
  form.form-signin(method="POST")
    .form-group
      input(type="password" name="oldPassword" placeholder="Old Password").form-control.form-control-lg
    .form-group
      input(type="password" name="newPassword" placeholder="New Password").form-control.form-control-lg
    .form-group
      input(type="password" name="passwordConfirm" placeholder="Confirm Password").form-control.form-control-lg
    .form-group
      button.btn.btn-primary.btn-lg.btn-block(type="submit") Update Password