mixin jobCard(job = {})
  .row
    .col-lg-6.col-md-6.col-sm-6.text-left
      h3.jobtext #{job}
      i.fa.fa-map-marker.jobtext &nbsp;&nbsp;
        span Ikeja, Lagos
    .col-lg-6.col-md-6.col-sm-6.text-right
      a(href="#").btn.btn-default.btn-sm Apply
  .row
    .col-lg-12
      br
      hr