mixin locationCard(location = {})
  .col-lg-5.col-md-5-col-sm-12
    .row
      .container
        .card.my-4
          .card-header
            h4 Our Office
          .card-body
             img.single__map(src="/images/bg.jpg")