mixin registerUserForm()
  form.form-signin(action="/register" method="POST")
    .form-group
      input(type="text" name="name" placeholder="Name" value=`${name || ''}`).form-control.form-control-lg
    .form-group
      input(type="email" name="email" placeholder="Email Address" value=`${email || ''}`).form-control.form-control-lg
    .form-group
      input(type="password" name="password" placeholder="Password").form-control.form-control-lg
    .form-group
      input(type="password" name="password-confirm" placeholder="Confirm Password").form-control.form-control-lg
    .form-group
      button.btn.btn-primary.btn-lg.btn-block(type="submit") Create an Account
    .form-group.text-center
      p By Signing up you agree to the&nbsp;
        a(href="/terms") Terms and Conditions
    .form-group
      p.signinText Already have an account?&nbsp;
        a(href="/login") Sign In&nbsp;